<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="filter" method="post" object="fil">
    <label>Enter salary : </label>
    <input type="number" name="salary" required/>

    <select name="operation">
        <option value="greater">Greater than</option>
        <option value="lesser">Less than</option>
        <option value="equal">Equal</option>
    </select>

    <input type="submit" value="Filter"/>
</form>
</body>
</html>